@charset "utf-8";
/* CSS Document */

*{
marging: 0px;
padding: 0px;
}

 body {
		
		font-size:12px;
		font-family:Verdana, Geneva, sans-serif;
		
		
	}
			
.great{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:blue;
	
	}
	#targetDiv{
		border:2px solid black;
		text-align:right;
		}
		
		#targetSpan{
			
			position:absolute;
			top:315px;
			font-size:16px;
			font-weight:bold;
			text-align:left;
			
			}
 #wrapper {
		width:1000px;
		margin:0px auto;
		
		padding:10px;
		 height:500px;
		
		 background-color:#E0E0E0;
background-repeat: no-repeat; 
	}
  #header {
	
		height:80px;
		padding:10px;
		margin:0;
		
		padding:20px;
		text-align:center;
		font-size:39px;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-weight:bold;
		text-decoration:underline;
		
		
		
	}
	
	#content {
		margin-top:10px;
		padding-bottom:10px;
		border-color:#9F9;
	}
 #content div {
		padding:10px;
		
    float:left;

	}
	
 #content-left {
  	width:150px;
	border-color:#000;
	}
	
 div#content-left a{
	display: block;
	width:129px;
	text-decoration: none;
	text-align:left;
	
	}
	
div#content-left a:hover {
	background-color: #ABC;
}


 #content-main {
		margin-left:10px;
		width:350px;
		border-color:#9F9;
		
	}
	
	
  #content-right {
		margin-left:10px;
		width:320px;
		
		height:510px;
		
	}


ul {
list-style-type: square;
}

li{
	width:220px;
	height::140px;
	margin:0px 4px;
	left:auto;
	
	}
h2{
	text-decoration:underline;
	background-color:#FFF;
	text-align:center;
	color:blue;
	} 
	
	/* applies to all divs within the content div */
 

	p{
		font-weight: bold;
		font-size:15px;
	}
 
  #footer {
		float:left;
		margin-top:10px;
		margin-bottom:10px;
    padding:10px;
    border:1px solid #bbb;
    
	border-color:#9F9;
	
	}
  #bottom {
		clear:both;
		text-align:right;
		border-color:#9F9;
	}